* {
    padding:0 ;
    margin:0 ;
    list-style:none;
}

body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #ddd;
  font-size: 14px;
}



header {
  background-image: url("yakei.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}



nav ul {
  margin: 0 10px;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
  display: inline-block;
}

nav ul li  {
  padding: 15px 10px;
  text-decoration: none;
  color: #999;
  font-weight: bold;
}

ul li .selected {
  color: #000;
}

.container {
  width: 100%;
  margin: -100px auto 0;
  min-height:800px;
  background-color: #fff;
  position:absolute;
}

.section {
  padding: 30px 20px;
}

.section {
  padding: 10px 0 20px 0;
  text-align: center;
  letter-spacing: 0.15em;
}

footer {
  padding: 20px 0;
  font-size: 93%;
  text-align: center;
  background-image:url("yozora.jpg");
  color: #666;
}

nav {
  margin: 0 0 30px 0;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
}

.art img{
  height:300px;
  width: 200px;
  
}

.art {
  text-align: center;
  display: inline-block;
  margin:10px 30px;
  position:relative;
  width:30%;
}
